<div class="row">
    <h1>Progreso y aprendizaje</h1>
    <div id="progreso" class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="85"
        [radius]="100"
        [title]="'HTML'"
        [showUnits]="false"
        [titleColor]="'red'"
        [imageSrc]="'../assets/img/html.png'"
        [showImage]="true"
        [imageHeight]="70"
        [imageWidth]="70"
        [subtitle]="'Conocimiento'"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="700"
        
      ></circle-progress>
    </div>
    <div id="progreso" class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="85"
        [radius]="100"
        [title]="'HTML'"
        [showUnits]="false"
        [titleColor]="'red'"
        [imageSrc]="'../assets/img/html.png'"
        [showImage]="true"
        [imageHeight]="70"
        [imageWidth]="70"
        [subtitle]="'Conocimiento'"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="700"
        
      ></circle-progress>
    </div>
    <div id="progreso" class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="85"
        [radius]="100"
        [title]="'HTML'"
        [showUnits]="false"
        [titleColor]="'red'"
        [imageSrc]="'../assets/img/html.png'"
        [showImage]="true"
        [imageHeight]="70"
        [imageWidth]="70"
        [subtitle]="'Conocimiento'"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="700"
        
      ></circle-progress>
    </div>
    <h1>Voluntariado</h1>
    <div id="progreso" class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="85"
        [radius]="100"
        [title]="'HTML'"
        [showUnits]="false"
        [titleColor]="'red'"
        [imageSrc]="'../assets/img/html.png'"
        [showImage]="true"
        [imageHeight]="70"
        [imageWidth]="70"
        [subtitle]="'Conocimiento'"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="700"
        
      ></circle-progress>
    </div>


</div>
