<div class="row">
        <div class="container">
                <div class="logo">
                        <img src="../../../assets/img/Logo.png" id="logoag">
                </div>
                <div class="reds">
                        <a href=""><img src="../../../assets/img/facebook.png" id="facebook" ></a>
                        <a href=""><img src="../../../assets/img/twitter.png" id="twitter"></a>
                        <a href=""><img src="../../../assets/img/github.png" id="github"></a>
                        <a href=""><img src="../../../assets/img/instagram.png" id="instagram"></a>
                        <a href=""><img src="../../../assets/img/linkedin.png" id="linkedin"></a>
                        <button type="button" class="btn  btn-primary" (click)="login()" *ngIf="!isLogger" >Entrar</button>
                        <button type="button" class="btn  btn-primary" (click)="onLogOut()" *ngIf="isLogger">Cerrar Sesionr</button>
                         
                </div>
        </div>

</div>



