<div class="row">
    <h1>Proyectos realizados</h1>
    <div class="contenedor">

        <div class="col-sm-12 col-md-7 col-lg-7 primera">
            <h1>App pirotecnia cero</h1>
            <p>
                consta de una aplicacion creada en el 2015, que hasta el dia de hoy funciona tomando
                las denuncias geolocalizadas de la venta ilegal de pirotecnia.
            </p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 segunda">
<img src="../../../assets/img/pirotecniacero.png" class="img-fluid img-proyecto" id="img-proyecto">
        </div>

    </div>


</div>
